
<h2>New Bloggy post</h2>


<%= form_for(posts) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <%= f.submit %>
<% end %>
