<h3><%= posts.title %></h3>
<p><%= posts.body %></p>
<strong>
  Comments:
</strong>
<ul>
  <% posts.comments.each do |com| %>
    <li><%= com.message %></li>
  <% end %>
</ul>
<section class ='add_comment'>
  <%= form_for(comment) do |f| %>


    <p><%= f.label :message %></p>
    <p><%= f.text_area :message %></p>
    <%= f.submit "Post Comment"%>
  <% end %>
</section>


