<!DOCTYPE html>
<html>
<head>
  <title>Awesome Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id='top'>
    <h1>Welcome to Bloggy Blog World!</h1>

    <nav>
      <a href="/posts"><h3>Main page</h3></a>
      <!-- <a href="/courses">Courses</a> -->
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
  <a href='#top'>go to top</a>
    <p>
    Built by these hands
    </p>
    <p>
    <small>Accessed  <%= Time.now.strftime("at %I:%M%p") %> </small>
    </p>

  </footer>
</body>
</html>
